name: lint
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 25
      - run: make install
      - run: make lint